.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #212529;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(82, 104, 145);
}

.header_cart__button{
    background-color:  rgb(82, 104, 145) ;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
    transition: all .15s ease-in 0s;
}

.header_cart__button:hover{
    background-color: rgb(102, 127, 173);
}